<% if @profiles.empty? %>
  &nbsp;
  <h4>None Exists.</h4>
  <h4>If you want to create a new profile, <%= link_to "Click Here.", new_profile_path %></h4>

<% else %>
&nbsp;
<div>
  <% @profiles.each do |profile| %>
    <li>
      <ul>
        <h4><%= link_to "Profile No. #{profile.id}", profile %> by <%= profile.user.name %></h4>
      </ul>
    </li>
  <% end %>
</div>


<% end %>
