<% if current_user && current_user.profiles.include?(@profile) %>
  <div>
    <%= link_to "Edit", edit_profile_path(@profile), class: "btn btn-primary" %>
    <%= button_to "Delete", @profile, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
  </div>
<% end %>
