<div id="Reviews">
  <p>
    <button id=<%=profile_comments_path(@profile)%> class= "load_reviews">Load Reviews</button><br>
    <%= render 'comments/list'%>
    <button id=<%=profile_comments_path(@profile)%> class= "add_review">Write a Review</button><br>
    <%= render 'comments/form'%>
  </p>
</div>
