<div id="Reviews">
  <p>
    <button id=<%=profile_comments_path(@profile)%> class= "load_reviews">Load Reviews</button><br>
    <%= render 'comments/list'%><br>
    <button id=<%=profile_comments_path(@profile)%> class= "add_review">Add a Review</button><br>
  </p>
</div>
