<%= form_for @comment, url: profile_comments_path(@profile), method: :post do |f| %>

  <div class="comment-form">
    <%= f.label "New review: " %><%= f.text_field :content %>
    <button class="submit_comment" data-url=profile_comments_path >Submit</button>
  </div>

<% end %>

<!-- <% if !!current_user %>
  <%= f.hidden_field :user_id, value: current_user.id %>
<% end %> -->
