
<div class="comments">
  <ol>
    <!-- <% @profile.comments.each do |comment| %>
      <li><%= comment.content %> from <%= comment.created_at.strftime("%m/%d/%Y") %></li>
    <% end %> -->
  </ol>
</div>
