<ol>
<div class="comments">

    <!-- <% @profile.comments.each do |comment| %>
      <li><%= comment.content %> from <%= comment.created_at.strftime("%m/%d/%Y") %></li>
    <% end %> -->

</div>
</ol>
