<h5>
  <div class="field">
    <% @profiles.each do |profile| %>
      <ul>
        <li>
          <%= link_to "#{profile.title}", profile %> <% end %>
        </li>
      </ul>
    <% end %>
  </div>
</h5>
