<div id="Info">
  <p>
    <strong>Email:</strong>
    <span><%=@user.email%></span>
  </p>

  <p>
    <strong>Profiles:</strong>
    <span>
      <%= render 'profiles/list'%>
    </span>
  </p>

  <p>
    <strong>Skills:</strong>
    <span>
      <% render 'skills/list' %>
    </span>
  </p>

</div>
