<div id="Info">
  <p>
    <strong>Email:</strong>
    <span><%=@user.email%></span>
  </p>

  <p>
    <strong>Hourly Rate:</strong>
    <span>$ <%=@user.hourly%></span>
  </p>

  <p>
    <strong>Available From:</strong>
    <span>
      <% if !@user.available_from.nil? %>
        <%=@user.available_from.strftime("%m/%d/%Y") %>
      <% end %>
    </span>
  </p>
  
  <p>
    <strong>Skills:</strong>
    <span>
      <% @user.skills.each do |skill| %>
        <%= skill.name %><br>
      <% end %>
    </span>
  </p>

</div>
