

#Info
{
  width: 450px;
  text-align: center;

  /* Move it to the right */
  float: center;

  /* For visibility. Delete me */
  border: 1px solid blue;


}

#Info strong
{
  /* Give it a width */
  display: inline-block;
  width: 120px;

  /* For visibility. Delete me */
  border: 1px solid orange;
}

#Info span
{
  /* Give it a width */
  display: inline-block;
  width: 300px;

/* For visibility. Delete me */
  border: 1px solid purple;
}
