
<h4>Best Available User(s):</h4>
<h5>
<div class="field">
  <% best_user(@category).find_each do |user| %>
    <ul>
      <li>
        <%= link_to user.name, category_user_best_path(@category, user) %>
      </li>
    </ul>
  <% end %>
</div>
</h5>
