
<h4>Best Available Profiles:</h4>

<h5>
<div class="field">
  <% best_profile(@category).find_each do |profile| %>
    <li>
      <%= link_to profile.title, profile %>
    </li><br>
  <% end %>
</div>
</h5>
