<div>

  <h4>Relevant User Profiles:</h4>
    <%= render "profiles/list" %><br>

</div>

<div id="profile">
  <% if @profiles %>
  <p>
    <button id=<%=best_profile_path(@category)%> class= "show_profile">View the best profile</button><br>
  </p>
  <% end %>
</div>
