<div>

  <h4>Relevant User Profiles:</h4>
    <%= render "profiles/list" %><br>

</div>

<div id="profile">
  <% if @profiles %>
  <p>
    <% @profiles.each do |profile| %>
      <button id=<%=best_profile_path(profile)%> class= "show_profile">View the best profile</button><br>
    <% end %>
  </p>
  <% end %>
