<div>

  <h4>Relevant User Profiles:</h4>
    <%= render "profiles/list" %><br>

</div>

<div id="profile">
  <% if @profiles.size > 0 %>
  <p>
    <button id=<%=best_profile_path(@profiles.first)%> class= "show_profile">View the best profile</button><br>
  </p>
  <% end %>
